<h1>Admin::Dashboard#show</h1>
    <h3>Total Number of Products:</h3>
<p><%= @counted_product %></p>

    <h3>Total Number of Categories:</h3>
<p><%= @counted_category %></p>



<p>Find me in app/views/admin/dashboard/show.html.erb</p>
